body{
    background-color: white;
}

main{
    padding: 10px;
}

.title-text{
    font-size: 24px;
}

footer{
    padding: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

